<style>
#buttonsPanel {
	padding-left: 3%;
}
</style>
<!-- Page -->
<div class="page animsition">
    <div class="page-header">
     <h1 class="page-title">{{ _('Address') }}</h1>
		<ol class="breadcrumb">
			<li><a href="{{ static_url('dashboard') }}">{{ _('Dashboard') }}</a></li>
			<li><a href="{{ static_url('order-entry') }}">{{ _('Order Entry') }}</a></li>
			<li class="active">{{ _('Address') }}</li>
		</ol>
    </div>
	
    <!-- Page Content -->
    <div class="page-content">
		{{ content() }}
		<!-- Panel Basic -->
		<div class="panel">
			<header class="panel-heading">
				<div class="panel-actions"></div>
				<h3 class="panel-title">{{ _('Address') }}</h3>
			</header>
			<div id="buttonsPanel">
				<button id="addList" class="btn btn-outline btn-primary"
					data-target="#addAddressModal" data-toggle="modal" type="button">
					<i class="icon wb-plus" aria-hidden="true"></i> {{ _('Add Address') }}
				</button>
				<button id="dropList" class="btn btn-outline btn-danger"
					type="button">
					<i class="icon wb-trash" aria-hidden="true"></i> {{ _('Drop Address')
					}}
				</button>
			</div>
			<div class="panel-body">
				<table id="addressTable"
					class="table table-hover dataTable table-striped width-full">
					<thead>
						<tr>
							<th>{{ _('PDV') }}</th>
							<th>{{ _('Indirizzo') }}</th>
							<th>{{ _('CAP') }}</th>
							<th>{{ _('Citta') }}</th>
							<th>{{ _('Provincia') }}</th>
							<th>{{ _('Regione') }}</th>
							<th>{{ _('Nazione') }}</th>
							<th>{{ _('Telefono') }}</th>
							<th>{{ _('Note') }}</th>
						</tr>
					</thead>
					
					<tfoot>
						<tr>
							<th>{{ _('PDV') }}</th>
							<th>{{ _('Indirizzo') }}</th>
							<th>{{ _('CAP') }}</th>
							<th>{{ _('Citta') }}</th>
							<th>{{ _('Provincia') }}</th>
							<th>{{ _('Regione') }}</th>
							<th>{{ _('Nazione') }}</th>
							<th>{{ _('Telefono') }}</th>
							<th>{{ _('Note') }}</th>
						</tr>
					</tfoot>
				</table>
			</div>
		</div>
		<!-- End Panel Basic -->
		<!-- Modal -->
		<div class="modal fade" id="addAddressModal" aria-hidden="false"
			aria-labelledby="exampleFormModalLabel" role="dialog" tabindex="-1">
			<div class="modal-dialog">
				<form id="addressForm" class="modal-content" method="post"
					action="{{ static_url('order-entry/add-address') }}">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal"
							aria-label="Close">
							<span aria-hidden="true">&#10005;</span>
						</button>
						<h4 class="modal-title">{{ _('Add Address') }}</h4>
					</div>
					<div class="modal-body">
					
						<div class="row">
							<div class="col-lg-6 form-group">
								<label class="control-label" for="inputNazione">{{ _('Nazione') }}</label> 
								<input id="inputNazione" type="text" value="Italia"
										class="form-control" name="nazione" required="required"/>
								
							</div>
							<div class="col-lg-6 form-group">
								<label class="control-label" for="inputRegione">{{ _('Regione') }}</label> 
								<select id="inputRegione" 
										class="form-control" name="regione" required="required"/>
									<option></option>
								{% for option in model.italia_regioni.find() %}
									<option value="{{ option.nome }}">{{ option.nome }}</option>
								{% endfor %}
								</select>
								
							</div>
						</div>
						<div class="row">
							<div class="col-lg-6 form-group">
								<label class="control-label" for="inputProvincia">{{ _('Provincia') }}</label> 
								<select id="inputProvincia" 
										class="form-control" name="provincia" required="required"/>
									<option></option>
								{% for option in model.italia_province.find() %}
									<option value="{{ option.nome }}">{{ option.nome }}</option>
								{% endfor %}
								</select>
							</div>
							<div class="col-lg-6 form-group">
								<label class="control-label" for="inputCitta">{{ _('Citta') }}</label> 
								<select id="inputCitta" 
										class="form-control" name="citta" required="required"/>
									<option></option>
								{% for option in model.italia_comuni.find() %}
									<option value="{{ option.nome }}">{{ option.nome }}</option>
								{% endfor %}
								</select>
								
							</div>
						</div>
						<div class="row">
							<div class="col-lg-6 form-group">
								<label class="control-label" for="inputCap">{{_('CAP') }}</label>
								<input id="inputCap" type="text"
										class="form-control" name="cap" required="required"/>
							</div>
							<div class="col-lg-6 form-group">
								<label class="control-label" for="inputAddress">{{ _('Address') }}</label> 
								<input id="inputAddress"
									class="form-control" type="text" name="indirizzo" required="required">
							</div>
						</div>
						<div class="row">
							<div class="col-lg-6 form-group">
								<label class="control-label" for="inputTelefono">{{ _('Telefono') }}</label> 
								<input id="inputTelefono" type="text"
										class="form-control" name="telefono" required="required"/>
								
							</div>
							<div class="col-lg-6 form-group">
								<label class="control-label" for="inputNote">{{ _('Note') }}</label> 
								
								<textarea id="inputNote" type="text"
										class="form-control" name="note"/>
								</textarea>
								
							</div>
						</div>
						<div class="row">
							
							<div class="col-lg-6 form-group">
								<label class="control-label" for="inputPdv">{{ _('PDV') }}</label> 
								<select class="form-control" 
								id="inputPdv" name="pdv" required="required">
									<option value=""></option>
									{% for pdv in model.customers_destinations.find() %}
									<option value="{{ pdv.id }}">{{ pdv.nome }}</option>
									{% endfor %}
								</select>
							</div>
							<div class="col-sm-12 pull-right">
								<button class="btn btn-primary btn-outline" data-dismiss=""
									id="addAddressSubmit" type="button">{{ _('Submit') }}</button>
							</div>
						</div>
						{{ token.generateInput() }}
				</form>
			</div>
		</div>
		<!-- End Modal -->
	</div>
</div>
</div> <!-- End Page -->

