<style>
#buttonsPanel {
	padding-left: 3%;
}

</style>
<!-- Page -->
<div class="page animsition">
    <div class="page-header">
     <h1 class="page-title">{{ _('Customers') }}</h1>
		<ol class="breadcrumb">
			<li><a href="{{ static_url('dashboard') }}">{{ _('Dashboard') }}</a></li>
			<li><a href="{{ static_url('order-entry') }}">{{ _('Order Entry') }}</a></li>
			<li class="active">{{ _('Customers') }}</li>
		</ol>
    </div>
	
    <!-- Page Content -->
    <div class="page-content">
    	<div id="spinner" class="spinner-container"></div>
		{{ content() }}
		<!-- Panel Basic -->
		<div class="panel">
			<header class="panel-heading">
				<div class="panel-actions"></div>
				<h3 class="panel-title">{{ _('Customers') }}</h3>
			</header>
			<div id="buttonsPanel">
				<button id="addList" class="btn btn-outline btn-primary"
					data-target="#addCustomerModal" data-toggle="modal" type="button">
					<i class="icon wb-plus" aria-hidden="true"></i> {{ _('Add Customer') }}
				</button>
				<button id="dropList" class="btn btn-outline btn-danger"
					type="button">
					<i class="icon wb-trash" aria-hidden="true"></i> {{ _('Drop Customers')
					}}
				</button>
			</div>
			<div class="panel-body">
				<table id="customerTable"
					class="table table-hover dataTable table-striped width-full">
					<thead>
						<tr>
							<th>{{ _('Gruppo') }}</th>
							<th>{{ _('Codice') }}</th>
							<th>{{ _('Nome') }}</th>
							<th>{{ _('Stato') }}</th>
							<th style="display:none">{{ _('Scheda') }}</th>
						</tr>
					</thead>
					
					<tfoot>
						<tr>
							<th>{{ _('Gruppo') }}</th>
							<th>{{ _('Codice') }}</th>
							<th>{{ _('Nome') }}</th>
							<th>{{ _('Stato') }}</th>
							<th style="display:none">{{ _('Scheda') }}</th>
						</tr>
					</tfoot>
				</table>
			</div>
		</div>
		<!-- End Panel Basic -->
		<!-- Modal Scheda -->
		<div class="modal fade" id="modalScheda" aria-hidden="false"
			aria-labelledby="exampleFormModalLabel" role="dialog" tabindex="-1">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
							<button type="button" class="close" data-dismiss="modal"
								aria-label="Close">
								<span aria-hidden="true">&#10005;</span>
							</button>
							<h4 class="modal-title">{{ _('Customer Details') }}</h4>
					</div>
					<div class="modal-body">
						<table id="customerScheda" class="table table-bordered">
							<tr><td>{{ _('Codice Indirizzo') }}</td>
							<td><a id="codice_indirizzo" href="javascript(void);" data-type="text"></a></td></tr>
							<tr><td>{{ _('Indirizzo') }}</td>
							<td><a id="indirizzo" href="javascript(void);" data-type="text"></a></td></tr>
							<tr><td>{{ _('CAP') }}</td>
							<td><a id="cap" href="javascript(void);" data-type="text"></a></td></tr>
							<tr><td>{{ _('Citta') }}</td>
							<td><a id="citta" href="javascript(void);" data-type="text"></a></td></tr>
							<tr><td>{{ _('Provincia') }}</td>
							<td><a id="provincia" href="javascript(void);" data-type="text"></a></td></tr>
							<tr><td>{{ _('Regione') }}</td>
							<td><a id="regione" href="javascript(void);" data-type="text"></a></td></tr>
							<tr><td>{{ _('Nazione') }}</td>
							<td><a id="nazione" href="javascript(void);" data-type="text"></a></td></tr>
							
							<tr><td>{{ _('Telefono') }}</td>
							<td><a id="telefono" href="javascript(void);" data-type="text"></a></td></tr>
							<tr><td>{{ _('Fax') }}</td>
							<td><a id="fax" href="javascript(void);" data-type="text"></a></td></tr>
							<tr><td>{{ _('Email') }}</td>
							<td><a id="email" href="javascript(void);" data-type="email"></a></td></tr>
							<tr><td>{{ _('P.IVA') }}</td>
							<td><a id="piva" href="javascript(void);" data-type="text"></a></td></tr>
							<tr><td>{{ _('CF') }}</td>
							<td><a id="cf" href="javascript(void);" data-type="text"></a></td></tr>
							<tr><td>{{ _('EPAL') }}</td>
							<td><a id="epal" href="javascript(void);" data-type="select" data-source="{{ static_url('order-entry/source-epal') }}"></a></td></tr>
							<tr><td>{{ _('MONOREF') }}</td>
							<td><a id="monoref" href="javascript(void);" data-type="select" data-source="{{ static_url('order-entry/source-monoref') }}"></a></td></tr>
							<tr><td>{{ _('Note') }}</td>
							<td><a id="note" href="javascript(void);" data-type="textarea"></a></td></tr>
						</table>
					</div>
				</div>
			</div>
		</div>
		<!-- End Modal Scheda -->
		<!-- Modal -->
		<div class="modal fade" id="addCustomerModal" aria-hidden="false"
			aria-labelledby="exampleFormModalLabel" role="dialog" tabindex="-1">
			<div class="modal-dialog">
				<form id="customerForm" class="modal-content" method="post"
					action="{{ static_url('order-entry/add-customer') }}">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal"
							aria-label="Close">
							<span aria-hidden="true">&#10005;</span>
						</button>
						<h4 class="modal-title">{{ _('Add Customer') }}</h4>
					</div>
					<div class="modal-body">
						<div class="row">
							<div class="col-lg-6 form-group">
								<label class="control-label" for="inputCustomerCode">{{ _('Code') }}</label> 
								<input id="inputGroupCode"
									class="form-control" type="text" name="customerCode" required="required">
							</div>
							<div class="col-lg-6 form-group">
								<label class="control-label" for="inputCustomerName">{{_('Name') }}</label>
								<input id="inputGroupName" type="text"
										class="form-control" name="customerName" required="required"/>
							</div>
						</div>
						<div class="row">
							<div class="col-lg-6 form-group">
								<label class="control-label" for="inputCustomerGroup">{{ _('Group') }}</label> 
								<select id="inputCustomerGroup" class="form-control" 
								name="customerGroup" required="required">
									<option value=""></option>
									{% for group in model.customers_groups.find() %}
									<option value="{{ group.id }}">{{ group.nome }}</option>
									{% endfor %}
								</select>
								
							</div>
							<div class="col-lg-6 form-group">
								<label class="control-label" for="inputCustomerState">{{ _('State') }}</label> 
								<select id="inputCustomerState" class="form-control" 
								name="customerState" required="required">
									{% for state in model.customers_state.find() %}
									<option value="{{ state.id }}">{{ state.stato }}</option>
									{% endfor %}
								</select>
								
							</div>
							<div class="col-sm-12 pull-right">
								<button class="btn btn-primary btn-outline" data-dismiss=""
									id="addCustomerSubmit" type="button">{{ _('Submit') }}</button>
							</div>
						</div>
						{{ token.generateInput() }}
				</form>
			</div>
		</div>
		<!-- End Modal -->
	</div>
</div>
</div> <!-- End Page -->

