<!-- Page -->
<div class="page animsition">
	<div class="page-header">
		<h1 class="page-title">{{ _('Failed logins') }}</h1>
		<ol class="breadcrumb">
			<li><a href="{{ static_url('dashboard') }}">{{ _('Dashboard') }}</a></li>
			<li><a href="{{ static_url('users/list') }}">{{ _('Users') }}</a></li>
			<li class="active">{{ _('Failed logins') }}</li>
		</ol>
		
	</div>
	<div class="page-content">
		{{ content() }}
		<!-- Panel Basic -->
		<div class="panel">
			<header class="panel-heading">
				<div class="panel-actions"></div>
				<h3 class="panel-title">{{ _('Failed users logins') }}</h3>
			</header>
			<div class="panel-body">
				<table class="tablesaw table-striped table-bordered table-hover" data-tablesaw-mode="swipe"
              data-tablesaw-sortable data-tablesaw-sortable-switch data-tablesaw-minimap
              data-tablesaw-mode-switch>
					<thead>
						<tr>
							<th data-tablesaw-sortable-col data-tablesaw-sortable-default-col data-tablesaw-priority="persist">{{ _('ID') }}</th>
							<th data-tablesaw-sortable-col data-tablesaw-priority="3">{{ _('Users id') }}</th>
							<th data-tablesaw-sortable-col data-tablesaw-priority="2">{{ _('IP address') }}</th>
							<th data-tablesaw-sortable-col data-tablesaw-priority="1">{{ _('Attempted') }}</th>
						</tr>
					</thead>
					<tbody>
						{% for record in table %}
						<tr>
							{% for row in record %}
							<td>{{ row }}</td>
							{% endfor %}
						</tr>
						{% endfor %}
					</tbody>
					<tfoot>
						<tr>
							<th data-tablesaw-sortable-col data-tablesaw-sortable-default-col data-tablesaw-priority="persist">{{ _('ID') }}</th>
							<th data-tablesaw-sortable-col data-tablesaw-priority="3">{{ _('Users id') }}</th>
							<th data-tablesaw-sortable-col data-tablesaw-priority="2">{{ _('IP address') }}</th>
							<th data-tablesaw-sortable-col data-tablesaw-priority="1">{{ _('Attempted') }}</th>
						</tr>
					</tfoot>
				</table>
			</div>
		</div>
		<!-- End Panel Basic -->
	</div>
</div>
<!-- End Page -->