<!-- Page -->
{% set portrait = user.details ? 
	(user.details.portrait ? user.details.portrait : 'user_blank.png') 
	: 'user_blank.png' %} 
{% set code = user.details ? user.details.code : '' %}
{% set name = user.details ? user.details.name : '' %} 
{% set surname = user.details ? user.details.surname : '' %}
{% set address = user.details ? user.details.address : '' %}
{% set phone = user.details ? user.details.phone : '' %}

<div class="page animsition">
	<div class="page-header">
	<h1 class="page-title">{{ _('Profilo Utente') }}</h1>
		<ol class="breadcrumb">
			<li><a href="{{ static_url('dashboard') }}">{{ _('Home') }}</a></li>
			<li><a href="{{ static_url('users/list') }}">{{ _('Lista Utenti') }}</a></li>
			<li class="active">{{ _('Profilo Utente') }}</li>
		</ol>
		
		
	</div>
	<div class="page-content container-fluid">
		<div class="row">
			<div class="col-md-12">{{ content() }}</div>
		</div>
		<div class="row">
			<div class="col-md-3">
				<!-- Page Widget -->
				<div class="widget widget-shadow text-center">
					<div class="widget-header">
						<div class="widget-header-content">
							<a class="avatar avatar-lg" href="javascript:void(0)"> <img
								src="{{ static_url('')}}assets/portraits/{{ portrait }}"
								alt="...">
							</a>
							<div class="profile-user">{{ user.email }}</div>
							<div class="profile-job">{{ _('Ruolo') }}: {{ user.acl_roles_name }}</div>
							<p></p>
							<div class="profile-social">
								<a class="icon bd-twitter" href="javascript:void(0)"></a> <a
									class="icon bd-facebook" href="javascript:void(0)"></a> <a
									class="icon bd-dribbble" href="javascript:void(0)"></a> <a
									class="icon bd-github" href="javascript:void(0)"></a>
							</div>
							<button type="button" class="btn btn-primary">{{
								_('Contatta') }}</button>
						</div>
					</div>
					<div class="widget-footer">
						<div class="row no-space">
							<div class="col-xs-4"></div>
							<div class="col-xs-4"></div>
							<div class="col-xs-4"></div>
						</div>
					</div>
				</div>
				<!-- End Page Widget -->
			</div>

			<div class="col-md-9">
				<!-- Panel -->
				<div class="panel">
					<div class="panel-body">
						<ul class="nav nav-tabs nav-tabs-line" data-plugin="nav-tabs"
							role="tablist">
							{% if auth.isRole('admin') or auth.isInherits('admin') %}
							<li role="presentation"><a data-toggle="tab"
								href="#status" aria-controls="status" role="tab">{{
									_('Stato') }} {% if user.status.name != 'active' %}<span
									class="badge badge-danger">!</span>{% endif %}
							</a></li>
							{% endif %}
							<li class="active" role="presentation"><a data-toggle="tab" href="#details"
								aria-controls="details" role="tab">{{ _('Dettagli') }} </a></li>
							<li role="presentation"><a data-toggle="tab" href="#logs"
								aria-controls="logs" role="tab">{{ _('Logs') }}</a></li>
						</ul>

						<div class="tab-content">
							{% if auth.isRole('admin') or auth.isInherits('admin') %}
							<div class="tab-pane" id="status" role="tabpanel">
								<ul class="list-group">
									<li class="list-group-item">
										<div class="btn-group" role="group">

											<button type="button"
												class="btn btn-icon btn-round
                    {% if user.status.name != 'active' %}btn-danger{% else %}btn-success{% endif %}">
												<i class="icon wb-user" aria-hidden="true"></i>{{
												user.status.name }}
											</button>
											<div class="btn-group" role="group">
												<button type="button"
													class="btn btn-icon btn-round btn-primary dropdown-toggle"
													id="exampleGroupDrop1" data-toggle="dropdown"
													aria-expanded="false">
													<i class="icon wb-pencil" aria-hidden="true"></i> {{
													_('Change') }} <span class="caret"></span>
												</button>
												<ul class="dropdown-menu" aria-labelledby="changeUserStatus"
													role="menu">
													{% for status in model.usersStatus.find() %}
													<li role="presentation"><a
														href="{{ static_url('users/change-status/') }}{{ user.id }}/{{ status.id }}"
														role="menuitem">{{ status.name }}</a></li> {% endfor %}
												</ul>
											</div>
									</li>
							</div>
							{% endif %}
							<div class="tab-pane active" id="details" role="tabpanel">
								<ul class="list-group">
									<li class="list-group-item">
										<div class="table-responsive">
											<table class="table table-bordered table-striped"
												id="editableUser">
												<tbody>
													<tr>
														<td style="width: 35%">{{ _('Ruolo') }}</td>
														<td style="width: 65%"><a id="editableRole"
															href="javascript:void(0)" data-type="select" data-pk="{{ user.id }}"
															data-title="{{ _('Ruolo') }}">{{ user.acl_roles_name }}</a></td>
													</tr>
													<tr>
														<td style="width: 35%">{{ _('Codice') }}</td>
														<td style="width: 65%"><a id="editableCode"
															href="javascript:void(0)" data-type="text" data-pk="{{ user.id }}"
															data-title="{{ _('Codice') }}">{{ code }}</a></td>
													</tr>
													<tr>
														<td style="width: 35%">{{ _('Nome') }}</td>
														<td style="width: 65%"><a id="editableName"
															href="javascript:void(0)" data-type="text" data-pk="{{ user.id }}"
															data-title="{{ _('Nome') }}">{{ name }}</a></td>
													</tr>
													<tr>
														<td>{{ _('Cognome') }}</td>
														<td><a id="editableSurname"
															href="javascript:void(0)" data-type="text" data-pk="{{ user.id }}"
															data-title="{{ _('Cognome') }}">{{ surname }}</a></td>
													</tr>
													<tr>
														<td>{{ _('Indirizzo') }}</td>
														<td><a id="editableAddress" href="javascript:void(0)"
															data-type="textarea" data-pk="{{ user.id }}"
															data-title="{{ _('Indirizzo') }}">{{ address }}</a></td>
													</tr>

													<tr>
														<td>{{ _('Telefono') }}</td>
														<td><a id="editablePhone"
															href="javascript:void(0)" data-type="text"
															data-pk="{{ user.id }}" data-title="{{ _('Telefono') }}">{{ phone }}</a></td>
													</tr>

												</tbody>
											</table>
									</li>

								</ul>
							</div>

							<div class="tab-pane" id="logs" role="tabpanel">
								<ul class="list-group">
									<li class="list-group-item"></li>
								</ul>
							</div>

						</div>
					</div>
				</div>
				<!-- End Panel -->
			</div>
		</div>
	</div>
</div>
<!-- End Page -->