<style>
.buttonsPanelLeft {
	padding-left: 3%;
	margin-bottom: 3%;
}

.buttonsPanelRight {
	padding-left: 3%;
	margin-bottom: 3%;
	float: right;
}
</style>
<!-- Page -->
<div class="page animsition">
	<div class="page-header">
		<h1 class="page-title">{{ _('Listini') }}</h1>
		<ol class="breadcrumb">
			<li><a href="{{ static_url('dashboard') }}">{{
					_('Dashboard') }}</a></li>
			<li><a href="{{ static_url('products') }}">{{ _('Prodotti') }}</a></li>
			<li><a href="{{ static_url('products/price-lists-all') }}">{{ _('Listini') }}</a></li>
			<li class="active">{{ _(listino.name) }}</li>
		</ol>

	</div>
	<div class="page-content">
		{{ content() }}
		<!-- Panel Basic -->
		<div class="panel">
			<header class="panel-heading">
				<div class="panel-actions">
					<button id="refreshPage" class="btn btn-outline btn-primary" type="button">
						<i class="icon wb-reload" aria-hidden="true"></i> {{ _('Aggiorna') }}
					</button>
					<button id="addList" class="btn btn-outline btn-primary"
						data-target="#addListModal" data-toggle="modal" type="button">
						<i class="icon wb-plus" aria-hidden="true"></i> {{ _('Nuovo
						Listino') }}
					</button>
					<button id="cloneList" class="btn btn-outline btn-primary" 
						data-target="#cloneListModal" data-toggle="modal" type="button">
						<i class="icon wb-copy" aria-hidden="true"></i> {{ _('Clona
						Listino') }}
					</button>
					
					<button id="dropListino" class="btn btn-outline btn-danger"
						type="button">
						<i class="icon wb-trash" aria-hidden="true"></i> {{ _('Elimina
						Listino') }}
					</button>
				</div>
				<h3 class="panel-title">
					<span id="listinoName">{{ _(listino.name) }}</span>
					<a id="editName" href="#"><i class="site-menu-icon wb-pencil" aria-hidden="true"></i></a>
					{% if revisione is defined %}
					<span id="revisioneName">{{ revisione.name }}</span>
					<a id="editRevisionName" href="#"><i class="site-menu-icon wb-pencil" aria-hidden="true"></i></a>
					{% endif %}
				</h3>
				<div style="padding-left:3%;">
					{% if revisione is defined %}
					Creato il : <span>{{ revisione.created_at }}</span><br>
					Aggiornato il : <span>{{ revisione.update_at }}</span>
					{% else %}
					Creato il : <span>{{ listino.created_at }}</span><br>
					Aggiornato il : <span>{{ listino.update_at }}</span>
					{% endif %}
				</div>
				<hr>
			</header>
			
			<div class="panel-body">
				<div class="row">
					<div class="col-lg-3 form-group">
						<label class="control-label"
							for="inputListRevisionLoad">{{ _('Revisioni')
							}}</label> <select id="inputListRevisionLoad"
							class="form-control" name="listRevisionLoad">
							<option value="0">-nessuna-</option> {% set search = 'price_lists_id =
							'~listino.id %} {% for revisioni in
							model.price_lists_revisions.find(search) %}
							<option value="{{ revisioni.id }}" {% if revisione is defined AND revisione.id == revisioni.id %}selected="selected"{% endif %}>{{ revisioni.name }}</option>
							{% endfor %}
						</select>

					</div>
					<div class="col-lg-9 form-group">
						<div>
							<label class="control-label">&nbsp;</label><br>
							<button id="loadRevisionButton" class="btn btn-outline btn-primary" type="button">
								<i class="icon wb-download" aria-hidden="true"></i> {{ _('Carica
								Revisione') }}
							</button>
							<button id="addRevisionButton" class="btn btn-outline btn-primary" 
								data-target="#addListRevisionModal" data-toggle="modal"  type="button">
								<i class="icon wb-extension" aria-hidden="true"></i> {{ _('Crea
								Revisione') }}
							</button>
							<button id="dropRevisionButton" class="btn btn-outline btn-danger" type="button">
								<i class="icon wb-trash" aria-hidden="true"></i> {{ _('Elimina
								Revisione') }}
							</button>
						</div>
					</div>
				</div>
				<hr>
				<div class="row">

					<div class="buttonsPanelLeft">
						<button id="" class="btn btn-outline btn-primary" 
						data-target="#addProductModal" data-toggle="modal" type="button">
							<i class="icon wb-plus" aria-hidden="true"></i> {{ _('Aggiungi
							Prodotto') }}
						</button>
						<button id="dropList" class="btn btn-outline btn-danger" type="button">
							<i class="icon wb-trash" aria-hidden="true"></i> {{ _('Rimuovi
							Prodotto/i') }}
						</button>
					</div>

					<table id="priceList"
						class="table table-hover dataTable table-striped width-full floatThead-table">
						<thead>
							<tr>
								<th>{{ _('Prodotto') }}</th>
								<th>{{ _('Prezzo di listino') }}</th>
								<th>{{ _('Prezzo di vendita') }}</th>
								<th>{{ _('Prezzo eCommerce') }}</th>
							</tr>
						</thead>
						<tfoot>
							<tr>
								<th>{{ _('Prodotto') }}</th>
								<th>{{ _('Prezzo di listino') }}</th>
								<th>{{ _('Prezzo di vendita') }}</th>
								<th>{{ _('Prezzo eCommerce') }}</th>
							</tr>
						</tfoot>
					</table>
				</div>
			</div>
		<!-- Begin Modal -->	
		<div>
		<!-- Modal -->
		<div class="modal fade" id="addListModal" aria-hidden="true"
			aria-labelledby="addListModal" role="dialog" tabindex="-1">
			<div class="modal-dialog">
				<form id="listForm" class="modal-content" method="post"
					action="{{ static_url('products/add-price-list') }}">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal"
							aria-label="Close">
							<span aria-hidden="true">&#10005;</span>
						</button>
						<h4 class="modal-title">{{ _('Nuovo Listino') }}</h4>
					</div>
					<div class="modal-body">
						<div class="row">
							<div class="col-lg-4 form-group">
								<label class="control-label" for="inputListName">{{
									_('Nome Listino') }}</label> <input id="inputListName"
									class="form-control" type="text" name="listName"
									required="required">
							</div>
							<div class="col-lg-8 form-group">
								<label class="control-label" for="inputListClone">{{_('Clona da') }}</label>
								<select class="form-control" id="inputListClone" name="listClone">
									<option>{{ _('-nessuno-') }}</option>
									{% for clone in model.price_lists.find() %}
									
									<option value="{{clone.id}}">{{ clone.name }}</option>
									
									{% endfor %}
								</select>
							</div>
						</div>
						<div class="row">
							<div class="col-lg-4 form-group">
								
								<div class="checkbox-custom checkbox-primary">
								<input id="inputListEmpty"
									 type="checkbox" name="listEmpty">
								<label class="control-label" for="inputListEmpty">{{
									_('Crea listino vuoto') }}</label> 
								</div>
								
							</div>
							<div class="col-sm-12 pull-right">
								<button class="btn btn-primary btn-outline" data-dismiss=""
									id="addListSubmit" type="button">{{ _('Crea') }}</button>
							</div>
						</div>
						{{ token.generateInput() }}
					</div>
				</form>
			</div>
		</div>
		<!-- End Modal -->
		</div>
		<!-- End Modal Section -->
		
		<!-- Begin Modal -->
		<div>
		<!-- Modal Clone -->
		<div class="modal fade" id="cloneListModal" aria-hidden="true"
			aria-labelledby="cloneListModal" role="dialog" tabindex="-1">
			<div class="modal-dialog">
				<form id="listCloneForm" class="modal-content" method="post"
					action="{{ static_url('products/add-price-list') }}">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal"
							aria-label="Close">
							<span aria-hidden="true">&#10005;</span>
						</button>
						<h4 class="modal-title">{{ _('Clona Listino') }}</h4>
					</div>
					<div class="modal-body">
						<div class="row">
							<div class="col-lg-4 form-group">
								<label class="control-label" for="inputListName">{{
									_('Nome Listino') }}</label> <input id="inputListName"
									class="form-control" type="text" name="listName"
									required="required">
							</div>
							<div class="col-lg-8 form-group">
								<label class="control-label" for="inputListClone">{{_('Clona da') }}</label>
								<input id="inputListClone" class="form-control" type="text" 
								name="listCloneName" value="{{ listino.name }}" disabled>
								<input type="hidden" name="listClone" value="{{ listino.id }}">
							</div>
							<div class="col-sm-12 pull-right">
								<button class="btn btn-primary btn-outline" data-dismiss=""
									id="cloneListSubmit" type="button">{{ _('Crea') }}</button>
							</div>
						</div>
						{{ token.generateInput() }}
					</div>
				</form>
			</div>
		</div>
		<!-- End Modal Clone-->
		</div>
		<!-- End Modal Section -->
		
		<!-- Begin Modal -->
		<div>
		<!-- Modal Revision-->
		<div class="modal fade" id="addListRevisionModal" aria-hidden="true"
			aria-labelledby="addListRevisionModal" role="dialog" tabindex="-1">
			<div class="modal-dialog">
				<form id="listRevisionForm" class="modal-content" method="post"
					action="{{ static_url('products/add-price-list-revision') }}">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal"
							aria-label="Close">
							<span aria-hidden="true">&#10005;</span>
						</button>
						<h4 class="modal-title">{{ _('Nuova Revisione Listino') }}</h4>
					</div>
					<div class="modal-body">
						<div class="row">
							<div class="col-lg-12 form-group">
								<label class="control-label" for="inputRevisionName">{{
									_('Nome Revisione') }}</label> <input id="inputRevisionName"
									class="form-control" type="text" name="revisionName"
									required="required">
							</div>
							<input type="hidden" name="idListino" value="{{ listino.id }}">
						</div>
						<div class="row">
							<div class="col-sm-12 pull-right">
								<button class="btn btn-primary btn-outline" data-dismiss=""
									id="addListRevisionSubmit" type="button">{{ _('Crea') }}</button>
							</div>
						</div>
						{{ token.generateInput() }}
					</div>
				</form>
			</div>
		</div>
		<!-- End Modal Revision-->
		</div>
		<!-- End Modal Section -->
		
		<div>
		<!-- Modal Revision-->
		<div class="modal fade" id="addProductModal" aria-hidden="true"
			aria-labelledby="addProductModal" role="dialog" tabindex="-1">
			<div class="modal-dialog">
				<form id="addProductForm" class="modal-content" method="post"
					action="{{ static_url('products/add-product-price') }}">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal"
							aria-label="Close">
							<span aria-hidden="true">&#10005;</span>
						</button>
						<h4 class="modal-title">{{ _('Aggiungi prodotto a listino') }}</h4>
					</div>
					<div class="modal-body">
						<div class="row">
							<div class="col-lg-12 form-group">
								<label class="control-label" for="inputProductName">{{
									_('Prodotto') }}</label>
								<select class="form-control" id="inputProductName" name="product">
								{% for prodotto in model.product.find() %}
									<option value="{{ prodotto.id_product }}">{{ prodotto.getName(1) }}</option>
								{% endfor %}
								</select>
							</div>
							<input type="hidden" name="idListino" value="{{ listino.id }}">
						</div>
						<div class="row">
							<div class="col-lg-4 form-group">
								<label class="control-label" for="inputProductPriceList">{{ _('Prezzo di listino') }}</label>
								<input id="inputProduct" class="form-control" name="productPriceList" value="0.00" type="number" step="0.01" min="0" required>
							</div>
							<div class="col-lg-4 form-group">
								<label class="control-label" for="inputProductPriceRetail">{{ _('Prezzo di vendita') }}</label>
								<input id="inputProductPriceRetail" class="form-control" name="productPriceRetail" value="0.00" type="number" step="0.01" min="0"  required>
							</div>
							<div class="col-lg-4 form-group">
								<label class="control-label" for="inputProductPriceEcommerce">{{ _('Prezzo eCommerce') }}</label>
								<input id="inputProductPriceEcommerce" class="form-control" name="productPriceEcommerce" value="0.00" type="number" step="0.01" min="0" required>
							</div>
							<div class="col-sm-12 pull-right">
								<button class="btn btn-primary btn-outline" data-dismiss=""
									id="addProductPrice" type="submit">{{ _('Aggiungi') }}</button>
							</div>
						</div>
						<input type="hidden" name="idListino" value="{{ listino.id }}">
						<input type="hidden" name="idRevisione" value="{% if revisione is defined %}{{ revisione.id }}{ % else %}0{% endif %}">
						{{ token.generateInput() }}
					</div>
				</form>
			</div>
		</div>
		<!-- End Modal Revision-->
		</div>
		<!-- End Modal Section -->
		
		</div>
		<!-- End Panel Basic -->
	</div>
</div>
<!-- End Page -->
